<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
	<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		<div class="sidebar-sticky">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link active" th:href="@{/}">
						<span data-feather="home"></span> <em>Dashboard</em> <span class="sr-only">(current)</span>
				</a></li>
			</ul>
			<h6
				class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>CADASTROS NO SISTEMA</span> <a
					class="d-flex align-items-center text-muted" th:href="@{#}"> <span
					data-feather="plus-circle"></span>
				</a>
			</h6>
			<ul class="nav flex-column">				
				<li class="nav-item"><a class="nav-link"
					th:href="@{/usuario}"> <span data-feather="folder-plus"></span>
						<em>Usu&aacute;rio</em>
				</a></li>
			</ul>

			<h6
				class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>RELATÓRIOS NO SISTEMA</span> <a
					class="d-flex align-items-center text-muted" th:href="@{#}"> <span
					data-feather="plus-circle"></span>
				</a>
			</h6>
			<ul class="nav flex-column mb-2">
				<li class="nav-item"><a class="nav-link" th:href="@{#}"> <span
						data-feather="file-text"></span> <em>Indicadores</em>
				</a></li>
			</ul>
			<h6
				class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>Sobre o Sistema</span> <a
					class="d-flex align-items-center text-muted" th:href="@{#}"> <span
					data-feather="plus-circle"></span>
				</a>
			</h6>
			<ul class="nav flex-column mb-2">
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">
						<span data-feather="log-out"></span> <em>Sair</em>
				</a></li>

			</ul>
		</div>
	</nav>
</div>
</html>