<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
	<div class="sidenav">
	<br>
	<br>
		<a th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i> <em>Dashboard</em></a> 
		<button class="dropdown-btn"><i class="fa fa-folder-o" aria-hidden="true"></i> 
			<em>Cadastros</em> <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<a th:href="@{/usuario}"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Usuário</a>
		</div>
		<button class="dropdown-btn"><i class="fa fa-line-chart" aria-hidden="true"></i>
			<em>Relatórios do Sistema</em> <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<a th:href="@{#}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Relatório Usuário</a>
		</div>		
		<button class="dropdown-btn"><i class="fa fa-info-circle" aria-hidden="true"></i> 
			<em>Sobre o Sistema</em> <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<a th:href="@{/logout}"><i class="fa fa-sign-in" aria-hidden="true"></i> Sair</a>
		</div>		
	</div>
</div>
</html>